.login-container {
    margin-top: 7rem ;
    padding: 3rem;
    background-color: #343a40; /* Dark background */
    border-radius: 1rem;
  }
  
  .login-container h2 {
    color: #ffffff; /* White text color */
  }
  
  .login-container .form-label {
    color: #ffffff; /* White form label */
  }
  
  .login-container .form-control {
    background-color: #495057; /* Darker background for input */
    border: 1px solid #6c757d;
    color: #ffffff; /* White text */
  }
  
  .login-container .form-control::placeholder {
    color: #adb5bd; /* Light gray placeholder */
  }
  
  .login-container .form-control:focus {
    background-color: #495057;
    border-color: #00bfff; /* Light blue border on focus */
    box-shadow: none;
  }
  
  .login-container .btn-primary {
    background-color: #00bfff; /* Light blue button */
    border: none;
    margin-bottom:1rem;
  }
  
  .login-container .btn-primary:hover {
    background-color: #009fdf; /* Slightly darker blue on hover */
  }
  